body {
  font-size: 12px;
  background-color: var(--palette-background-default);
  color: var(--palette-text-primary);
  --app-inset: 10px;
  margin: var(--app-inset);
}

header {
  padding: var(--app-inset);
}

a {
  color: inherit;
}

.tableContainer {
  border: 1px solid var(--app-shell-border-color);
  padding: 5px;
}

.App-body,
.MuiBox-root,
.MuiList-root {
  /* .MuiPaper-root { */
  background-color: var(--palette-background-default);
  color: var(--palette-text-primary);
  box-shadow: none;
}

.MuiAutocomplete-root .MuiFormControl-root .MuiInputBase-root input {
  min-width: 6rem;
}

.MuiFormControl-root :is(div, input, span, svg) {
  border-color: var(--palette-text-primary);
  color: var(--palette-text-primary);
}

/* .MuiSvgIcon-root { */
/* color: var(--palette-text-primary); */
/* } */

label.MuiInputLabel-root {
  color: var(--palette-text-primary);
}

.MuiInputBase-root,
.MuiInputBase-input,
.MuiSelect-icon,
.MuiSvgIcon-root {
  color: var(--palette-text-primary);
}

.MuiOutlinedInput-notchedOutline {
  border-color: var(--palette-table-cell-border);
}

.MuiPaper-root {
  background-color: var(--palette-background-paper);
}

div.MuiPaper-root {
  border: 1px solid;
  border-color: var(--palette-table-cell-border);
}

.tableControls {
  display: flex;
  direction: row;
}


/* Accordion */
details {
  background-color: var(--palette-background-paper);
  border-radius: var(--mantine-radius-default);
  padding: var(--mantine-spacing-xs);

  summary * {
    display: inline-block;
  }

  div {
    margin-top: var(--mantine-spacing-xs);
  }
}

/* Button */
.mantine-Button-root {
  margin: 2px;
  color: var(--palette-text-primary);
  background-color: transparent;
  --button-padding-x: 5px;
}

@media (prefers-color-scheme: dark) {
  body {
    color-scheme: only dark;
    --palette-background-default: #181818;
    --mantine-color-body: var(--palette-background-default);
    --palette-background-paper: #303030;
    --palette-text-primary: #fff;
    --palette-table-cell-border: rgba(81, 81, 81, 1);

    --palette-primary-main: #0288d1;
    --palette-primary-contrast-text: rgba(0, 0, 0, 0.87);
    --palette-info-main: #81d4fa;
    --palette-info-contrast-text: rgba(0, 0, 0, 0.87);
    --palette-success-main: #a5d6a7;
    --palette-success-contrast-text: rgba(0, 0, 0, 0.87);
    --palette-error-main: #ef9a9a;
    --palette-error-contrast-text: rgba(0, 0, 0, 0.87);
    --palette-warning-main: #ffcc80;
    --palette-warning-contrast-text: rgba(0, 0, 0, 0.87);
  }
}

@media (prefers-color-scheme: light) {
  body {
    color-scheme: only light;
    --palette-background-default: #fff;
    --mantine-color-body: var(--palette-background-default);
    --palette-background-paper: #fff;
    --palette-text-primary: rgba(0, 0, 0, 0.87);
    --palette-table-cell-border: rgba(224, 224, 224, 1);

    --palette-primary-main: #039be5;
    --palette-primary-contrast-text: #fff;
    --palette-info-main: #b3e5fc;
    --palette-info-contrast-text: rgba(0, 0, 0, 0.87);
    --palette-success-main: #c8e6c9;
    --palette-success-contrast-text: rgba(0, 0, 0, 0.87);
    --palette-error-main: #ffcdd2;
    --palette-error-contrast-text: rgba(0, 0, 0, 0.87);
    --palette-warning-main: #ffe0b2;
    --palette-warning-contrast-text: rgba(0, 0, 0, 0.87);
  }
}